In [4]:
from pyspark.sql import SparkSession
import os
spark = (
    SparkSession
    .builder
    .master("local[*]")
    .getOrCreate()
)
df = spark.read.parquet(
    os.path.join("/opt/workspace", "parquet")
)
df.show(5)

+--------------------+--------------------+--------------------+---+--------------------+--------+------------------+--------------------+--------------------+----------+------+-------+-------------------+-------+--------------------+----------+--------------------+----------+------+
|              _links|           externals|              genres| id|               image|language|              name|             network|        officialSite| premiered|rating|runtime|           schedule| status|             summary|   updated|                 url|webChannel|weight|
+--------------------+--------------------+--------------------+---+--------------------+--------+------------------+--------------------+--------------------+----------+------+-------+-------------------+-------+--------------------+----------+--------------------+----------+------+
|{NULL, {http://ap...|{tt2699110, 27043...|    [Drama, Romance]|127|{http://static.tv...| English|        The Affair|{{US, United Stat...|http://www.sho.co...|2014-10-12| {7.4}|     60|  {[Sunday], 21:00}|Running|<p>At once deeply...|1534872610|http://www.tvmaze...|      NULL|   100|
|{NULL, {http://ap...|{tt3566726, 28162...|[Drama, Comedy, R...|128|{http://static.tv...| English|   Jane the Virgin|{{US, United Stat...|http://www.cwtv.c...|2014-10-13| {7.8}|     60|  {[Friday], 21:00}|Running|<p>When Jane Vill...|1536410972|http://www.tvmaze...|      NULL|    95|
|{NULL, {http://ap...|{tt3460454, 28158...|            [Comedy]|129|{http://static.tv...| English|          Marry Me|{{US, United Stat...|                NULL|2014-10-14| {6.7}|     30| {[Tuesday], 21:00}|  Ended|<p>Six years ago,...|1504686293|http://www.tvmaze...|      NULL|    77|
|{NULL, {http://ap...|{tt0369179, 72227...|            [Comedy]|130|{http://static.tv...| English|Two and a Half Men|{{US, United Stat...|http://www.cbs.co...|2003-09-22| {6.6}|     30|{[Thursday], 21:00}|  Ended|<p>Charlie is a w...|1534330472|http://www.tvmaze...|      NULL|    82|
|{NULL, {http://ap...|{tt2666270, 26959...|[Drama, Comedy, R...|131|{http://static.tv...| English|       About a Boy|{{US, United Stat...|http://www.nbc.co...|2014-02-22| {7.1}|     30| {[Tuesday], 21:30}|  Ended|<p>Will Freeman l...|1486239563|http://www.tvmaze...|      NULL|    73|
+--------------------+--------------------+--------------------+---+--------------------+--------+------------------+--------------------+--------------------+----------+------+-------+-------------------+-------+--------------------+----------+--------------------+----------+------+

# Selecting columns using string names

In [20]:
df.select(
    "id",
    "name",
    "runtime",
).show(5)

+---+------------------+-------+
| id|              name|runtime|
+---+------------------+-------+
|127|        The Affair|     60|
|128|   Jane the Virgin|     60|
|129|          Marry Me|     30|
|130|Two and a Half Men|     30|
|131|       About a Boy|     30|
+---+------------------+-------+

# Selecting columns using column objects

In [21]:
import pyspark.sql.functions as F
df.select(
    F.col("id"),
    F.col("name"),
    F.col("runtime"),
).show(5)

+---+------------------+-------+
| id|              name|runtime|
+---+------------------+-------+
|127|        The Affair|     60|
|128|   Jane the Virgin|     60|
|129|          Marry Me|     30|
|130|Two and a Half Men|     30|
|131|       About a Boy|     30|
+---+------------------+-------+

# use alias to rename a column

In [22]:
import pyspark.sql.functions as F
df.select(
    F.col("id"),
    F.col("name").alias("name_of_show"),
    F.col("runtime"),
).show(1)

+---+------------+-------+
| id|name_of_show|runtime|
+---+------------+-------+
|127|  The Affair|     60|
+---+------------+-------+

# use withColumn to add a new column

In [23]:
(
    df.select(
        F.col("id"),
        F.col("name"),
        F.col("runtime"),
    ).withColumn("runtime_without_ads", F.col("runtime") * 0.8)
).show(5)

+---+------------------+-------+-------------------+
| id|              name|runtime|runtime_without_ads|
+---+------------------+-------+-------------------+
|127|        The Affair|     60|               48.0|
|128|   Jane the Virgin|     60|               48.0|
|129|          Marry Me|     30|               24.0|
|130|Two and a Half Men|     30|               24.0|
|131|       About a Boy|     30|               24.0|
+---+------------------+-------+-------------------+

# use select and alias to add a new column

In [24]:
(
    df.select(
        F.col("id"),
        F.col("name"),
        F.col("runtime"),
        (F.col("runtime") * 0.8).alias("runtime_without_ads"),
    )
).show(5)

+---+------------------+-------+-------------------+
| id|              name|runtime|runtime_without_ads|
+---+------------------+-------+-------------------+
|127|        The Affair|     60|               48.0|
|128|   Jane the Virgin|     60|               48.0|
|129|          Marry Me|     30|               24.0|
|130|Two and a Half Men|     30|               24.0|
|131|       About a Boy|     30|               24.0|
+---+------------------+-------+-------------------+