https://spark.apache.org/docs/latest/sql-data-sources-jdbc.html

In [2]:
from pyspark.sql import SparkSession
packages = [
    'org.postgresql:postgresql:42.7.1'
]

spark = (
    SparkSession
    .builder
    .master("local[*]")
    .config('spark.jars.packages', ",".join(packages))
    .getOrCreate()
)

load data from postgresql db table

In [3]:
jdbc = (
    spark.read 
    .jdbc(
        "jdbc:postgresql://postgresql-world-db:5432/world-db", 
        "public.city",
        properties={
            "user": "world", 
            "password": "world123",
            "driver": "org.postgresql.Driver"
        }
    )
)
jdbc.show(5)

+---+--------------+------------+-------------+----------+----------+
| id|          name|country_code|     district|population|local_name|
+---+--------------+------------+-------------+----------+----------+
|  1|         Kabul|         AFG|        Kabol|   1780000|      NULL|
|  2|      Qandahar|         AFG|     Qandahar|    237500|      NULL|
|  3|         Herat|         AFG|        Herat|    186800|      NULL|
|  4|Mazar-e-Sharif|         AFG|        Balkh|    127800|      NULL|
|  5|     Amsterdam|         NLD|Noord-Holland|    731200|      NULL|
+---+--------------+------------+-------------+----------+----------+

using spark.read.format api to read from a postgresql db table

In [10]:
jdbc = (
    spark.read 
    .format("jdbc")
    .option("url", "jdbc:postgresql://postgresql-world-db:5432/world-db")
    .option("user", "world")
    .option("password", "world123")
    .option("driver", "org.postgresql.Driver")
    .option("dbtable", "public.city")
    .load()
)
jdbc.show(5)

+---+--------------+------------+-------------+----------+----------+
| id|          name|country_code|     district|population|local_name|
+---+--------------+------------+-------------+----------+----------+
|  1|         Kabul|         AFG|        Kabol|   1780000|      NULL|
|  2|      Qandahar|         AFG|     Qandahar|    237500|      NULL|
|  3|         Herat|         AFG|        Herat|    186800|      NULL|
|  4|Mazar-e-Sharif|         AFG|        Balkh|    127800|      NULL|
|  5|     Amsterdam|         NLD|Noord-Holland|    731200|      NULL|
+---+--------------+------------+-------------+----------+----------+

load data from postgresql db using a SQL query

In [12]:
jdbc = (
    spark.read 
    .format("jdbc")
    .option("url", "jdbc:postgresql://postgresql-world-db:5432/world-db")
    .option("user", "world")
    .option("password", "world123")
    .option("driver", "org.postgresql.Driver")
    .option("query", "select name, continent from public.country where continent = 'Europe'")
    .load()
)
jdbc.show(5)

+--------------------+---------+
|                name|continent|
+--------------------+---------+
|         Netherlands|   Europe|
|             Albania|   Europe|
|             Andorra|   Europe|
|             Belgium|   Europe|
|Bosnia and Herzeg...|   Europe|
+--------------------+---------+